<h1>Ping Pong Game</h1>

<p>Enter a number and see ping pong results.</p>

<form action='/detector' method='get'>
  <div class="form-group">
    <label for="userNumber">Number</label>
    <input id="$userNumber" name="userNumber" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Play Ping-Pong</button>
</form>
